

.navbardiv{
	margin: 30px;
	font-family:sans-serif;
}
.navbar {
	list-style-type: none;
	margin: 0;
	padding: 25;
	overflow: hidden;
	text-align: right;
}

li {
	float: left;
}

li a {
	display: block;
	color: White;
	text-align: center;
	padding: 41px 50px;
	text-decoration: none;
	font-size:20px;
}

li a:hover:not(.active) {
	background-color: White;
	color: Black;
	opacity:0.9;
	border-radius: 50px;
}

.active {
  	background-color: Black;
	color:white;
	opacity:0.9;
	border-radius: 20px;
}
.logo_ {
	width: 110px;
	height: 100px;
	float: left;
	position: relative;
	top: 0px;
	left: 5px;

}
